 @model IEnumerable<SysSara.Models.Dtos.EmpleadosListDto> 
@*@model SysSara.Data.PaginaResultado<EmpleadosListDto>*@

@{
    ViewData["Title"] = "Empleados";
    MensajeDto Mensaje = ViewData["Mensaje"] as MensajeDto;
}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Empleados</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
          <li class="breadcrumb-item active">Empleados</li>
        </ol>
      </div>
    </div>
  </div>
</div>
    
<div class="content">
  <div class="container-fluid">
   @* <div class="row">
      <div class="col-lg-12">
        <div class="card card-orange card-outline">          
          <div class="card-body">
            <div class="row">

            
            <div class="col-sm-6">              
              <form class="form-inline">
                <div class="form-group">
                  <label class="control-label">Buscar:</label>                
                </div>
                <div class="form-group mx-sm-3">                
                  <input class="form-control form-control-sm" id="SearchString" name="SearchString" value="">
                </div>
                <button type="submit" class="btn btn-sm btn-orange"><i class="fas fa-search"></i></button>                
              </form>
            </div>
            <div class="col-sm-6">
              <a asp-action="AgregarEmpleado" asp-controller="Empleados" asp-route-Id="0" class="btn btn-sm btn-orange float-right"><i class="fas fa-plus"></i> Nuevo</a>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>*@

    <div class="row">
      <div class="col-lg-12">        
        <div class="card card-orange card-outline">
          <div class="card-header">
            <h3 class="card-title">Listado de Empleados</h3>
            <div class="card-tools">                  
              <button type="button" class="btn btn-tool" >                
                <a asp-action="AgregarEmpleado" asp-controller="Empleados" asp-route-Id="0" class="btn btn-sm btn-orange"><i class="fas fa-plus"></i> Nuevo</a>
              </button>                  
            </div>
          </div>
          <div class="card-body p-0 table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EmpleadoId)</th>
                  <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Apaterno)                    
                    @*<a asp-action="Empleados" asp-route-sortOrder="@ViewBag.APaternoSortParm" ><i class="fas fa-sort"></i></a>*@
                  </th>               
                  <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amaterno)                    
                    @*<a asp-action="Empleados" asp-route-sortOrder="@ViewBag.AMaternoSortParm" ><i class="fas fa-sort"></i></a>*@
                  </th>
                  <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)</th>
                  <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)</th>
                  <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Estatus)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
               
                @foreach (var item in Model) {                  
                  <tr>
                    <td>@Html.DisplayFor(modelItem => item.EmpleadoId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apaterno)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amaterno)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estatus)</td>
                    <td>
                        <div class="action">
                            <a asp-action="AgregarEmpleado" asp-controller="Empleados" asp-route-id="@item.EmpleadoId" data-toggle="tooltip" title="Editar"><i class="fas fa-pen"></i></a> |
                            @* <a asp-action="DetailsEmpleado" asp-route-id="@item.EmpleadoId" data-toggle="tooltip" title="Ver detalles"><i class="fas fa-file-alt"></i></a> | *@
                            <a id="@item.Apaterno @item.Amaterno @item.Nombre" asp-action="EliminarEmpleado" asp-controller="Empleados" asp-route-id="@item.EmpleadoId" onclick="Eliminar(event)" class="Eliminar" data-toggle="tooltip" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                        </div>                      
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>        

      </div>          
    </div>

    <div class="row">
      <div class="col-lg-12">
       
      </div>
    </div>
  </div>
</div>

<script>     

  async function Eliminar(event){
    event.preventDefault();
    
    let resp = await MensajeConfirmacionAsync(`¿Quiere eliminar el Empleado ${event.target.parentElement.id}?`, 'No podrá deshacer este movimiento!', 'warning');
      if (resp.isConfirmed) {
          
          let url = event.target.parentElement.href;
          
          let respfetch = await fetch(url, { method: "DELETE" })
              .then(response => response.json());

          await MensajeAlertaAsync(respfetch.titulo, respfetch.mensaje, respfetch.icono)
          window.location.reload();
      }
  }
    
  document.addEventListener('DOMContentLoaded', () =>{
    
  });
  
</script>